__pycache__/
*.py[cod]
.idea/
*.iml
sector_addons/**/.idea/
sector_addons/**/static/description/
sector_addons/**/*.map
.pytest_cache/
.coverage
.venv/
venv/
work/
*.zip
*.rar
*.tar.gz
*.dump
*.backup
*.sql
*.pem
*.key
.env
.env.*
outputs/*.pdf
